* {
    outline: 0;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}

/* GENERAL */

.margin-sides {
    margin: 0 20%;
}

.margin-right {
    margin-right: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 50px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-cont-center {
    justify-content: center;
}

.justify-cont-start {
    justify-content: left;
}

.justify-cont-spb {
    justify-content: space-between;
}

.justify-cont-spa {
    justify-content: space-around;
}

.justify-cont-spe {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.gap {
    gap: 20px;
}

.img-size {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.bold {
    font-weight: bold;
}

.gray-bg {
    background-color: rgb(238, 238, 238);
}

.blue-bg {
    background-color: rgb(159,197,248);
}

.lightgreen-bg {
    background-color: rgb(174,234,233);
}

.green-bg {
    background-color: rgb(0,187,180);
}

.white-text {
    color: white;
}

.cursor {
    cursor: pointer;
}