@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Chivo:wght@500&family=Kaushan+Script&family=Lobster+Two&family=Roboto&family=Varela+Round&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* BACKGROUND PIC */

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(interior.jpg);
    background-size: cover;

}


/* NAVIGATION BAR */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 10%;
    z-index: 100000;

}

header.sticky {
    padding: 5px 15%;
    background: #000;
    height: 65px;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: rgb(218, 125, 32);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    text-decoration: none;
    color: rgb(218, 125, 32);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
}

header.sticky .logo {
    width: 60px;
    padding-top: 5px;
}

li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(218, 125, 32);
    margin: auto;
    display: block;
}

li a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}


/* FRONT PAGE TEXT */

.main {
    position: relative;
    top: 50vh;
    padding-left: 10%;
}

.main h1 {
    color:rgb(218, 125, 32);
    font-family: 'Lobster Two', cursive;
    font-size: 80px;
    margin: 20px 0;
}

.main h3,
.main h4 {
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

/* BOARDS DESCRIPTION */

.boards {
    margin: 100px 10%;
    
}

.board-pic {
    width: 500px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
}

.descpt {
    padding: 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.descpt p {
    margin: 30px 0 60px;
}

button {
    background-color: black;
    color: rgb(218, 125, 32);
    width: fit-content;
    padding: 10px 30px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* SLOGAN */

.slogan {
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    color: rgb(218, 125, 32);
    margin: 150px 0px;

}

/* MENU SELECTION */

.menu {
    margin: 50px 10%;
}

.menu img {
    width: 150px;
    border-radius: 10px;
}

.menu h5 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: larger;
    color: rgb(218, 125, 32);
    margin: 20px;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}


/* RESERVATION */

.reserv {
    background-color: rgb(218, 125, 32);
    padding: 0 10%;
    height: 500px;
}

.reserv h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    margin: 50px 0;
}

.reserv select{
    border: 2px solid black;
    border-radius: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 25px;
}

.reserv input{
    border: 2px solid black;
    border-radius: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 25px;
}

.reserv p {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-style: italic;
}

/* INFORMATIVE */

.block {
    height: 650px;
    padding: 100px 10%;
}

.block h2 {
    color: rgb(218, 125, 32);
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
}

.block p {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    padding: 15px;
}

/* FOOTER */

.bottom {
    height: 150px;
    background-color: rgb(218, 125, 32);
    padding: 20px 10%;
}

.links-1 {
   padding: 0px;
   width: 33%;
   font-family: 'Chivo', sans-serif;
   
}

.links-1 a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: black;
    margin: auto;
    display: block;
}

.links-1 a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

.links-1 a {
    text-decoration: none;
    color: black;
    margin: 0;
}
.social {
    width: 33%;
    justify-content: flex-end;
}

.icons {
    width: 40px;
    margin: 0 15px;
}
